<nav class="<%= !loggedIn? 'logged-out' : '' %>">
  <a href="/">Home</a>
  <a href="/view" target="_blank">View</a>
  <% if (loggedIn) { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/settings">Settings</a>
    <a href="#" onclick="logout()">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
  <% } %>
</nav>